@model _24DH190272_MyStore.Models.Product

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="bg-success">XÓA SẢN PHẨM</h2>

<h4 class="alert-danger">Bạn thực sự muốn xóa sản phẩm này à ?</h4>

@Html.Partial("PVProductInfo", Model)

@* Thay thế khối div cũ bằng khối @using Html.BeginForm này *@

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        @* Đây là nút Xóa (Submit) *@
        <input type="submit" value="Xóa" class="btn btn-danger" /> |

        @* Đây là nút Quay lại (Link) *@
        @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-default" })
    </div>
}